body {
    display: flex;
    flex-direction: column;
    background-color: var(--color-one);

    --color-one:#EAC7C7;
    --color-two:#A0C3D2;
    --color-three:#F7F5EB;
    --color-four:#EAE0DA;
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--color-two);
}

#artHolder {
    display: flex;
    justify-content: space-between;
    
}

#colorHolder {
    background-color: var(--color-three);
}

#brushSizeHolder {
    background-color: var(--color-three);
}

canvas {
    height: 100%;
    width: 100%;
    background-color: white;
}