body {
    display: flex;
    flex-direction: column;
    background-color: var(--color-one);

    --color-one:#EAC7C7;
    --color-two:#A0C3D2;
    --color-three:#F7F5EB;
    --color-four:#EAE0DA;

    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--color-two);
    border: 2px solid black;
    margin-bottom: 2vh;
    border-radius: 20px;
}

#artHolder {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 75vh;
    
}

#Instructions {
    background-color: var(--color-four);
    width: 10vw;
    border: 2px solid black;
    margin-right: 2vw;
    border-radius: 20px;
}

#brushSizeHolder {
    background-color: var(--color-four);
    width: 10vw;
    border: 2px solid black;
    margin-left: 2vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

canvas {
    height: 100%;
    width: 100%;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
}

#Instructions {
    padding-left: 10px;
}

#palette {
    display: flex;
    justify-content: space-evenly;
    background-color: #cfcfc4;
    justify-self: center;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 2vh;
    border: 2px solid black;
    border-radius: 20px;
}

#yellow {
    color: yellow;
    background-color: yellow;
}

#red {
    color: red;
    background-color: red;
}

#blue {
    color: blue;
    background-color: blue;
}

#orange {
    color: orange;
    background-color: orange;
}

#purple {
    color: purple;
    background-color: purple;
}

#green {
    color: green;
    background-color: green;
}

#eraser {
    color: white;
    background-color: white;
}